---
import Container from '@/components/Container.astro'
import RSSButton from '@/components/RSSButton'
import authors from '@/data/authors'
import Layout from '@/layouts/Layout.astro'
import Comments from '@/sections/Comment'
import { Seo } from 'astro-seo-meta'
import { Schema } from 'astro-seo-schema'
import { getCollection } from 'astro:content'

const entry = (await getCollection('blog')).find((entry) => entry.slug === Astro.params.slug)
if (!entry) return new Response(null, { status: 404, statusText: 'Not Found' })
const frontmatter = entry.data
const { Content } = await entry.render()

const author = authors.find((author) => author.id === entry.data.author)
if (!author) throw new Error(`author with id ${entry.data.author} not found.`)
const canonicalURL = new URL(Astro.url.pathname, Astro.site)
// const { default: imageSvg } = await import(`../assets/images/blog/${slug}.svg`);
const { default: imagePng } = await import(`../../assets/images/blog/${entry.slug}.png`)
const blogEntries = (await getCollection('blog')).sort((a, b) => {
	const date1 = new Date(a.data.created)
	const date2 = new Date(b.data.created)
	if (date1 === date2) return 0
	if (date1 >= date2) return 1
	return -1
})
const index = blogEntries.findIndex(($entry) => $entry.slug === entry.slug)
const prevBlog = blogEntries[index - 1]
const nextBlog = blogEntries[index + 1]
---

<Layout title={frontmatter.title + ' - Raqueebuddin Aziz'}>
	<Fragment slot="head">
		<Schema
			item={{
				'@context': 'https://schema.org',
				'@type': 'Article',
				identifier: entry.slug,
				name: frontmatter.seo.title,
				headline: frontmatter.seo.title,
				author: {
					'@type': 'Person',
					name: 'Raqueebuddin Aziz',
					knowsAbout: [
						'Computer Science',
						'Web Programming',
						'Web Development',
						'Web Design',
						'Freelancing'
					],
					image: Astro.site + 'assets/images/profile.webp',
					url: canonicalURL.toString(),
					email: 'raqueebuddin.aziz.314@gmail.com',
					gender: 'https://schema.org/Male',
					knowsLanguage: ['English', 'Hindi']
				},
				publisher: {
					'@type': 'Organization',
					name: 'Raqueebuddin Aziz',
					logo: Astro.site + 'assets/favicon.svg',
					knowsAbout: [
						'Computer Science',
						'Web Programming',
						'Web Development',
						'Web Design',
						'Freelancing'
					],
					image: Astro.site + 'assets/images/profile.webp',
					url: canonicalURL.toString(),
					email: 'raqueebuddin.aziz.314@gmail.com',
					knowsLanguage: ['English', 'Hindi']
				},
				keywords: frontmatter.seo.keywords,
				thumbnailUrl: Astro.site + imagePng.src.slice(1),
				image: Astro.site + imagePng.src.slice(1),
				url: canonicalURL.toString()
			}}
		/>
		<Seo
			title={frontmatter.seo.title + ' - Raqueebuddin Aziz'}
			description={frontmatter.seo.description}
			keywords={frontmatter.seo.keywords}
			icon="/favicon.svg"
			themeColor="#ea580c"
			colorScheme="light"
			facebook={{
				image: Astro.site + `/assets/images/blog/${entry.slug}.png`,
				url: canonicalURL.toString(),
				type: 'article'
			}}
			twitter={{
				site: '@RaqueebuddinA',
				image: Astro.site + `/assets/images/blog/${entry.slug}.png`,
				card: 'summary_large_image'
			}}
		/>
		<meta property="og:image:width" content="1024" />
		<meta property="og:image:height" content="1024" />
	</Fragment>
	<Container class="p-5 lg:p-10" innerClass="flex flex-col gap-5">
		<div class="flex gap-5 justify-between">
			<ol class="flex items-center gap-1">
				<li class="hidden md:contents">
					<a href="/blog" class="text-lg hover:underline"> blog</a>
					<span class="i-mdi-chevron-right text-xl"></span>
					<span class="text-lg font-bold">
						{entry.slug}
					</span>
				</li>
			</ol>
			<RSSButton />
		</div>
		<section
			class="rounded-10 grid gap-5 bg-gray-900 p-10 text-gray-100 shadow-lg md:grid-cols-2 w-full"
		>
			<img
				src={`/assets/images/blog/${entry.slug}.svg`}
				alt={frontmatter.title}
				width="300"
				height="300"
				class="rounded-5 md:mx-none mx-auto shadow-inner"
			/>
			<article
				class="rounded-10 shadow-inset items mb-auto flex flex-col gap-1 bg-gray-100 p-10 text-gray-900 shadow-xl"
			>
				<p class="text-sm font-bold uppercase text-gray-900 lg:text-base">By</p>
				<h3 class="text-lg font-semibold uppercase tracking-wide text-gray-900 md:text-2xl">
					{author.name}
				</h3>
				<p class="text-xs font-medium uppercase tracking-wide text-gray-500">
					{
						new Date(frontmatter.created).toLocaleDateString(undefined, {
							year: 'numeric',
							month: 'long',
							day: 'numeric'
						})
					}
					{
						frontmatter.updated &&
							`(Updated on ${new Date(frontmatter.updated).toLocaleDateString(undefined, {
								year: 'numeric',
								month: 'long',
								day: 'numeric'
							})})`
					}
				</p>
				<p class="mt-3 text-gray-600 md:text-lg">{author.description}</p>
			</article>
			<h1 class="col-start-1 text-4xl font-black md:col-end-3 md:text-6xl">
				{frontmatter.title}
			</h1>
		</section>
		<div class="relative gap-10 xl:grid-cols-[minmax(0,1fr)_350px] grid" id="content">
			<div class="markdown">
				<Content />
			</div>
			<section
				aria-label="performance-report"
				id="performance-report"
				class="xl:flex hidden self-start sticky top-5 flex-col gap-5"
			>
				<form
					class="flex flex-col gap-5 rounded-xl bg-neutral-50 p-5 text-gray-900 shadow-lg"
					name="report"
					method="post"
					data-netlify="true"
				>
					<h2
						class="mx-auto mb-5 text-center text-lg font-semibold uppercase text-gray-700 md:text-xl"
					>
						<span class="rounded-full bg-orange-600 px-5 font-black text-gray-100">free</span>
						report on how to make your website faster
					</h2>
					<div class="flex flex-col gap-1">
						<label
							for="email-report-footer"
							class="ml-3 text-xs font-semibold uppercase tracking-wide text-gray-600">Email</label
						>
						<input
							type="email"
							name="email"
							id="email-report-footer"
							placeholder="name@domain.com"
							class="rounded-5 w-full min-w-0 bg-gray-100 px-5 py-3"
							required
						/>
					</div>
					<div class="flex flex-col gap-1">
						<label
							for="address-footer"
							class="ml-3 text-xs font-semibold uppercase tracking-wide text-gray-600"
							>Website Address</label
						>
						<input
							type="text"
							name="address"
							id="address-footer"
							placeholder="www.example.com"
							class="rounded-5 w-full min-w-0 bg-gray-100 px-5 py-3"
							required
						/>
					</div>
					<button
						class="rounded-5 ml-auto whitespace-nowrap bg-orange-600 px-5 py-3 font-bold text-white shadow-lg transition hover:bg-orange-700 hover:shadow-none"
					>
						Submit
					</button>
				</form>
				<span class="self-end uppercase font-bold tracking-wide text-sm text-neutral-600"
					>Share This Post on</span
				>
				<div class="flex gap-5 justify-end">
					<a
						href={`https://twitter.com/intent/tweet?text=${frontmatter.title}&url=${canonicalURL}&via=RaqueebuddinA`}
						target="_blank"
						class="flex items-center gap-3 rounded-lg bg-blue-500 px-5 py-3 font-bold uppercase tracking-wide text-gray-100 transition-colors hover:bg-blue-700 focus:bg-blue-700"
					>
						<span class="i-mdi-twitter text-2xl"></span>
					</a>
					<a
						href={`https://www.linkedin.com/sharing/share-offsite/?url=${canonicalURL}`}
						class="flex items-center gap-3 rounded-lg bg-blue-900 px-5 py-3 font-bold uppercase tracking-wide text-gray-100 transition-colors hover:bg-blue-800 focus:bg-blue-800"
						target="_blank"
					>
						<span class="i-mdi-linkedin text-2xl"></span>
					</a>
					<a
						href={`http://www.reddit.com/submit?url=${canonicalURL}&title=${frontmatter.title}`}
						class="flex items-center gap-3 rounded-lg bg-red-600 px-5 py-3 font-bold uppercase tracking-wide text-gray-100 transition-colors hover:bg-red-800 focus:bg-red-800"
						target="_blank"
					>
						<span class="i-fa6-brands:reddit-alien text-2xl"></span>
					</a>
				</div>
			</section>
		</div>
		<section class="flex flex-wrap gap-5">
			<!-- TODO: get facebook share working -->
			<!-- <a -->
			<!--   href={`https://www.facebook.com/dialog/share?app_id=3270061229907621&display=page&hashtag=${encodeURIComponent( -->
			<!--     '#' + frontmatter.seo.keywords[0] -->
			<!--   )}&href=${canonicalURL}&redirect_uri=${canonicalURL}`} -->
			<!--   class="facebook-share-button" -->
			<!-- > -->
			<!--   <span class="icon-wrapper"> -->
			<!--     <svg width="1em" height="1em" viewBox="0 0 256 256" -->
			<!--       ><path -->
			<!--         fill="#1877F2" -->
			<!--         d="M256 128C256 57.308 198.692 0 128 0C57.308 0 0 57.307 0 128c0 63.888 46.808 116.843 108 126.445V165H75.5v-37H108V99.8c0-32.08 19.11-49.8 48.347-49.8C170.352 50 185 52.5 185 52.5V84h-16.14C152.958 84 148 93.867 148 103.99V128h35.5l-5.675 37H148v89.445c61.192-9.602 108-62.556 108-126.445" -->
			<!--       ></path><path -->
			<!--         fill="#FFF" -->
			<!--         d="m177.825 165l5.675-37H148v-24.01C148 93.866 152.959 84 168.86 84H185V52.5S170.352 50 156.347 50C127.11 50 108 67.72 108 99.8V128H75.5v37H108v89.445A128.959 128.959 0 0 0 128 256a128.9 128.9 0 0 0 20-1.555V165h29.825" -->
			<!--       ></path> -->
			<!--     </svg> -->
			<!--   </span> -->
			<!--   Share on Facebook</a -->
			<!-- > -->
			<a
				href={`https://twitter.com/intent/tweet?text=${frontmatter.title}&url=${canonicalURL}&via=RaqueebuddinA`}
				target="_blank"
				class="flex items-center gap-3 rounded-lg bg-blue-500 px-5 py-3 font-bold uppercase tracking-wide text-gray-100 transition-colors hover:bg-blue-700 focus:bg-blue-700"
			>
				<span class="i-mdi-twitter text-2xl"></span>
				Tweet</a
			>
			<a
				href={`https://www.linkedin.com/sharing/share-offsite/?url=${canonicalURL}`}
				class="flex items-center gap-3 rounded-lg bg-blue-900 px-5 py-3 font-bold uppercase tracking-wide text-gray-100 transition-colors hover:bg-blue-800 focus:bg-blue-800"
				target="_blank"
			>
				<span class="i-mdi-linkedin text-2xl"></span>
				Share on LinkedIN</a
			>
			<a
				href={`http://www.reddit.com/submit?url=${canonicalURL}&title=${frontmatter.title}`}
				class="flex items-center gap-3 rounded-lg bg-red-600 px-5 py-3 font-bold uppercase tracking-wide text-gray-100 transition-colors hover:bg-red-800 focus:bg-red-800"
				target="_blank"
			>
				<span class="i-fa6-brands:reddit-alien text-2xl"></span>
				Post on Reddit</a
			>
		</section>
		<section class="flex flex-wrap justify-between gap-5">
			{
				prevBlog ? (
					<a href={`/blog/${prevBlog.slug}`} rel="prev">
						<article class="flex items-center gap-5 rounded-lg bg-gray-100/50 p-3 shadow backdrop-blur">
							<span class="i-mdi-chevron-left text-lg" />
							<span class="text-sm font-bold uppercase md:text-base">{prevBlog.data.title}</span>
							<img
								src={`/assets/images/blog/${prevBlog.slug}.svg`}
								class="md:w-25 lg:w-30 w-20 rounded"
								alt={prevBlog.data.title}
								width="50"
								height="50"
							/>
						</article>
					</a>
				) : (
					<div />
				)
			}
			{
				nextBlog ? (
					<a href={`/blog/${nextBlog.slug}`} rel="next">
						<article class="flex items-center gap-5 rounded-lg bg-gray-100/50 p-3 shadow backdrop-blur">
							<img
								src={`/assets/images/blog/${nextBlog.slug}.svg`}
								class="md:w-25 lg:w-30 w-20 rounded"
								width="50"
								height="50"
								alt={nextBlog.data.title}
							/>
							<span class="text-sm font-bold uppercase md:text-base">{nextBlog.data.title}</span>
							<span class="i-mdi-chevron-right text-lg" />
						</article>
					</a>
				) : (
					<div />
				)
			}
		</section>
		<Comments slug={entry.slug} client:idle />
		<button
			id="gototop"
			aria-label="Go to top"
			class="fixed bottom-5 right-5 z-30 grid aspect-square h-10 w-10 place-content-center rounded-full bg-orange-600 text-gray-100 opacity-0 transition-opacity"
		>
			<span class="i-mdi-chevron-up text-3xl"></span>
		</button>
		<div id="progressbar" class="fixed top-0 left-0 h-1 w-full origin-top-left bg-orange-600"></div>
	</Container>
	<script defer>
		const gototop = document.getElementById('gototop')
		gototop?.addEventListener('click', () => {
			window.scrollTo({ top: 0, behavior: 'smooth' })
		})
		const progressbar = document.getElementById('progressbar')
		const markdownSection = document.querySelector('.markdown')
		const rect = markdownSection.getBoundingClientRect()
		const bottom = rect.bottom + window.scrollY
		function onScroll() {
			window.scrollY > 100
				? gototop.classList.remove('opacity-0')
				: gototop.classList.add('opacity-0')
			const progress = Math.max(0, Math.min(window.pageYOffset / bottom, 1))
			progressbar.style.transform = `scaleX(${progress})`
		}
		onScroll()
		window.addEventListener('scroll', onScroll)
	</script>

	<style is:global lang="scss">
		.markdown {
			overflow: hidden;
			h2 {
				@apply my-3 flex items-center gap-3 text-2xl font-semibold;
			}

			h3 {
				@apply my-3 flex items-center gap-3 text-xl font-semibold;
			}

			h4 {
				@apply my-3 flex items-center gap-3 text-lg font-medium;
			}

			p {
				@apply my-5 leading-7;
			}

			:not(pre) > code {
				@apply mb-1 inline-block rounded-md bg-stone-800 px-2 font-mono text-gray-100;
			}

			a > code {
				@apply inline-block cursor-pointer rounded-md bg-stone-800 px-2 font-mono;
				@apply text-orange-600 underline decoration-dotted visited:text-purple-600 hover:text-orange-500 hover:visited:text-purple-500;
			}

			a {
				@apply text-orange-600 underline decoration-dotted visited:text-orange-900 hover:text-orange-500 hover:visited:text-purple-500;
			}

			.astro-code {
				font-variant-ligatures: none;
				/* custom scrollbar */
				&::-webkit-scrollbar-track {
					border-radius: 10px;
					background: rgb(255 255 255 / 20%);
				}

				&::-webkit-scrollbar-thumb {
					border-radius: 10px;
					background: rgb(255 255 255 / 20%);
				}

				&::-webkit-scrollbar-thumb:hover {
					background: rgb(255 255 255 / 40%);
				}

				&::-webkit-scrollbar-thumb:active {
					background: rgb(255 255 255 / 90%);
				}
				* {
					@apply font-mono;
				}
				width: clamp(0px, 100%, 100%);
				@apply my-5 block rounded-xl p-5 font-mono;
			}

			ol {
				font-size: var(--body-text);
				line-height: var(--font-lineheight-2);
				list-style-type: decimal;
				margin-inline-start: 1.5ch;
				& > li > ol {
					list-style-type: lower-roman;
					margin-inline-start: 3ch;
					& > li > ol {
						list-style-type: lower-alpha;
					}
				}
			}

			ul {
				font-size: var(--body-text);
				line-height: var(--font-lineheight-2);
				list-style-type: disc;
				margin-inline-start: 1.5ch;
				& > li > ul {
					list-style-type: circle;
					margin-inline-start: 3ch;
					& > li > ul {
						list-style-type: square;
					}
				}
			}
			em {
				font-style: italic;
			}

			.toc {
				a {
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
				.toc-level-1 {
					display: flex;
					flex-direction: column;
					gap: 0.5rem;
				}
				ol {
					font-size: 1.125rem;
					line-height: 1.75rem;
					list-style-type: decimal;
					& > li > ol {
						list-style-type: lower-roman;
						font-size: 1rem;
						line-height: 1.5rem;
						margin-inline-start: 3ch;
					}
				}
				@apply rounded-10 bg-neutral-100 px-12 py-10 shadow-lg;
			}
		}
	</style>
</Layout>
