---
import Section from '@components/Section.astro'
import Base from '@layouts/Base.astro'
import authors from '@data/authors'

const blogs = (await Astro.glob('./*.md')).sort((a, b) => {
  const date1 = new Date(a.frontmatter.created)
  const date2 = new Date(b.frontmatter.created)
  if (date1 === date2) return 0
  if (date1 >= date2) return -1
  return 1
})
---

<Base title="Blog">
  <Section title="Latest Posts">
    <div class="blogs">
      {
        blogs.map(async ({ frontmatter, url }) => {
          const author = authors.find(
            (author) => author.id === frontmatter.author
          )
          const slug = url.replace('/blog/', '')
          const { default: image } = await import(
            `../../assets/images/blog/${slug}.svg`
          )
          return (
            <a class="card" href={url}>
              <img
                class="card__image"
                src={image}
                alt={`${frontmatter.title} poster`}
                width="1024"
                height="1024"
              />
              <div class="card__body">
                <h3 class="card__author">By {author.name}</h3>
                <h3 class="card__date">On {frontmatter.created}</h3>
                <h2 class="card__title">{frontmatter.title}</h2>
                <p class="card__description">{frontmatter.description}</p>
                {/* <div class="actions"> */}
                {/* </div> */}
              </div>
            </a>
          )
        })
      }
    </div>
  </Section>
  <style lang="postcss">
    .blogs {
      margin-block: var(--larger-gap);
      display: grid;
      grid-template-columns: 1fr;
      gap: var(--larger-gap);
      .card {
        all: unset;
        transition: transform 0.3s ease-out;
        cursor: pointer;
        display: grid;
        overflow: hidden;
        align-items: center;
        gap: var(--larger-gap);
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'image body';
        &:is(:hover, :focus) {
          transform: scale(105%);
        }
        &:nth-child(even) {
          grid-template-columns: 2fr 1fr;
          grid-template-areas: 'body image';
        }
        @media (--md-only) {
          grid-template-columns: 1fr 1fr;
          gap: var(--large-gap);
          &:nth-child(even) {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 'body image';
          }
        }
        @media (--sm-n-below) {
          grid-template-columns: 1fr;
          grid-template-rows: auto auto;
          grid-template-areas: 'image' 'body';
          &:nth-child(even) {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            grid-template-areas: 'image' 'body';
          }
        }
      }
      .card__image {
        grid-area: image;
        border-radius: var(--radius);
        @media (--sm-n-above) {
          /* max-inline-size: 14rem; */
        }
      }
      .card__body {
        grid-area: body;
        display: flex;
        gap: var(--large-gap);
        flex-direction: column;
        @media (--md-n-below) {
          gap: var(--gap);
        }
        .card__title {
          font-family: var(--font-family);
          font-family: var(--headline-family);
          font-size: var(--h2-text);
          @media (--md-only) {
            font-size: var(--h3-text);
          }
        }
        .card__author {
          font-family: var(--font-family);
          font-size: var(--h4-text);
          color: var(--gray-6);
        }

        .card__date {
          text-transform: uppercase;
          font-family: var(--headline-family);
          font-size: var(--font-size-0);
          color: var(--gray-7);
        }
        .card__description {
          font-family: var(--font-family);
          line-height: var(--font-lineheight-0);
          font-size: var(--body-text);
          flex-grow: 1;
        }
        /* .actions { */
        /*   display: flex; */
        /*   justify-content: flex-end; */
        /* } */
      }
    }
  </style>
</Base>
