---
export interface Props {
	fullHover?: boolean
	slug: string
	title: string
	description: string
	created: string
	updated: string | undefined
	author: {
		name: string
	}
}
const {
	fullHover = true,
	slug,
	title,
	author,
	description,
	created,
	updated
} = Astro.props as Props

const A = fullHover ? 'a' : 'div'
---

<A href={`/blog/${slug}`} class="contents">
	<article
		class="flex flex-col bg-gray-100 rounded-10 text-gray-900 shadow-lg overflow-hidden transition-transform"
		class:list={[fullHover && 'hover:scale-105']}
	>
		<img
			transition:name={slug}
			transition:animate="initial"
			src={`/assets/images/blog/${slug}.png`}
			alt={title}
			class="w-full object-cover aspect-square max-w-full rounded-t-10"
			width="1"
			height="1"
		/>
		<div class="grow p-10 flex flex-col gap-3">
			<h3 class="text-2xl font-black">{title}</h3>
			<p class="text-xs uppercase tracking-wider font-medium text-gray-700">
				{author.name}
			</p>
			<p class="text-xs uppercase tracking-wider font-medium text-gray-700">
				<span class="font-semibold">
					{
						new Date(created).toLocaleDateString(undefined, {
							year: 'numeric',
							month: 'short',
							day: 'numeric'
						})
					}
					{
						updated && (
							<span class="font-semibold inline-block">
								(Updated:{' '}
								{new Date(updated).toLocaleDateString(undefined, {
									year: 'numeric',
									month: 'short',
									day: 'numeric'
								})}
								)
							</span>
						)
					}
				</span>
			</p>
			<p class="mt-3">{description}</p>
			<span class="grow"></span>
			<a
				href={`/blog/${slug}`}
				class="flex flex-wrap gap-5 focus:border-orange-600 focus:text-orange-600 hover:border-orange-600 hover:text-orange-600 border-b self-start border-transparent"
			>
				<span class="i-ic-sharp-menu-book text-xl"></span>
				<span>Read</span>
			</a>
		</div>
	</article>
</A>
