---
export interface Props {
	fullHover?: boolean
	slug: string
	title: string
	description: string
	created: string
	updated: string | undefined
	author: {
		name: string
	}
	loading?: 'lazy' | 'eager'
}
const {
	fullHover = true,
	slug,
	title,
	author,
	description,
	created,
	updated,
	loading = 'lazy'
} = Astro.props as Props
const updatedAt = new Date(updated || created)
const year = updatedAt.getFullYear().toString()
const month = (updatedAt.getMonth() + 1).toString().padStart(2, '0')
const day = updatedAt.getDate().toString().padStart(2, '0')

const A = fullHover ? 'a' : 'div'

import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'
const images = import.meta.glob<{ default: ImageMetadata }>(
	'../assets/images/**/*.{webp,png,jpg,svg}'
)
---

<A
	href={`/blog/${year}/${month}/${day}/${slug}`}
	class="contents"
	data-umami-event={fullHover ? 'view-post' : undefined}
	data-umami-event-slug={slug}
	data-umami-event-url={`/blog/${year}/${month}/${day}/${slug}`}
	data-umami-event-location="card"
>
	<article
		class="flex flex-col border-2 border-gray-300 rounded-10 text-gray-900 overflow-hidden transition-transform"
		style="box-shadow: #d1d5db 0px 5px"
		class:list={[fullHover && 'hover:scale-105']}
	>
		<Image
			transition:name={slug}
			transition:animate="initial"
			src={images[`../assets/images/blog/${slug}.png`]!()}
			alt={title}
			class="w-full object-cover aspect-square max-w-full"
			{loading}
		/>
		<div class="grow p-10 flex flex-col gap-3">
			<h3 class="text-2xl font-black">{title}</h3>
			<p class="text-xs uppercase tracking-wider font-medium text-gray-700">
				{author.name}
			</p>
			<p class="text-xs uppercase tracking-wider font-medium text-gray-700">
				<span class="font-semibold">
					{
						new Date(created).toLocaleDateString(undefined, {
							year: 'numeric',
							month: 'short',
							day: 'numeric'
						})
					}
					{
						updated && (
							<span class="font-semibold inline-block">
								(Updated:{' '}
								{new Date(updated).toLocaleDateString(undefined, {
									year: 'numeric',
									month: 'short',
									day: 'numeric'
								})}
								)
							</span>
						)
					}
				</span>
			</p>
			<p class="mt-3">{description}</p>
			<span class="grow"></span>
			<a
				href={`/blog/${year}/${month}/${day}/${slug}`}
				data-umami-event={!fullHover ? 'view-post' : undefined}
				data-umami-event-slug={slug}
				data-umami-event-url={`/blog/${year}/${month}/${day}/${slug}`}
				data-umami-event-location="read-anchor"
				class="flex flex-wrap gap-5 focus:border-orange-600 focus:text-orange-600 hover:border-orange-600 hover:text-orange-600 border-b self-start border-transparent"
			>
				<span class="i-ic-sharp-menu-book text-xl"></span>
				<span>Read</span>
			</a>
		</div>
	</article>
</A>
