---
import Container from '@/components/Container.astro'

interface Link {
	href: string
	label: string
	icon?: string
}

const links: Link[] = [
	{
		href: '/',
		label: 'Portfolio'
	},
	{
		href: '/blog',
		label: 'Blog'
	}
]

const socials: Link[] = [
	{
		href: 'mailto:raqueebuddin.aziz.314@gmail.com',
		label: 'Email',
		icon: 'i-mdi-email'
	},
	{
		href: 'https://github.com/vanillacode314',
		label: 'Github',
		icon: 'i-mdi-github'
	},
	{
		href: 'https://twitter.com/RaqueebuddinA',
		label: 'Twitter',
		icon: 'i-mdi-twitter'
	},
	{
		href: 'https://www.linkedin.com/in/raqueebuddin-aziz-b28a12232/',
		label: 'LinkedIn',
		icon: 'i-mdi-linkedin'
	},
	{
		href: 'https://www.instagram.com/raqueebuddin.aziz',
		label: 'Instagram',
		icon: 'i-mdi-instagram'
	},
	{
		href: 'https://www.facebook.com/vanillacode314',
		label: 'Facebook',
		icon: 'i-mdi-facebook'
	}
]
---

<Container class="border-t-2 border-gray-200 bg-gray-100/50 p-5 backdrop-blur lg:p-10">
	<footer class="grid gap-5 sm:grid-cols-2 lg:grid-cols-3">
		<section class="flex flex-col gap-3">
			<h3 class="text-xs font-semibold uppercase tracking-wide text-gray-600">Links</h3>
			<ul class="flex flex-col">
				{
					links.map(({ label, href }) => (
						<li>
							<a
								{href}
								class="font-medium uppercase text-orange-600 visited:text-orange-900 hover:text-orange-500 hover:underline"
							>
								{label}
							</a>
						</li>
					))
				}
			</ul>
		</section>
		<section class="flex flex-col gap-3">
			<h3 class="text-xs font-semibold uppercase tracking-wide text-gray-600">Social</h3>
			<ul class="flex flex-col">
				{
					socials.map(({ label, href, icon }) => (
						<li>
							<a
								{href}
								target="_blank"
								class="inline-flex items-center gap-3 font-medium uppercase text-orange-600 visited:text-orange-900 hover:text-orange-500 hover:underline"
							>
								<span class={`${icon} text-xl`} />
								<span>{label}</span>
							</a>
						</li>
					))
				}
			</ul>
		</section>
		<section
			aria-label="performance-report"
			id="performance-report"
			class="col-span-full row-start-1 lg:col-start-3 lg:col-end-4"
		>
			<form
				class="flex flex-col gap-5 rounded-lg bg-white p-5 text-gray-900"
				name="report"
				method="post"
				data-netlify="true"
			>
				<h2
					class="mx-auto mb-5 text-center text-lg font-semibold uppercase text-gray-700 md:text-xl"
				>
					<span class="rounded-full bg-orange-600 px-5 font-black text-gray-100">free</span>
					report on how to make your website faster
				</h2>
				<div class="flex flex-col gap-1">
					<label
						for="email-report-footer"
						class="ml-3 text-xs font-semibold uppercase tracking-wide text-gray-600">Email</label
					>
					<input
						type="email"
						name="email"
						id="email-report-footer"
						placeholder="name@domain.com"
						class="rounded-5 w-full min-w-0 bg-gray-100 px-5 py-3"
						required
					/>
				</div>
				<div class="flex flex-col gap-1">
					<label
						for="address-footer"
						class="ml-3 text-xs font-semibold uppercase tracking-wide text-gray-600"
						>Website Address</label
					>
					<input
						type="text"
						name="address"
						id="address-footer"
						placeholder="www.example.com"
						class="rounded-5 w-full min-w-0 bg-gray-100 px-5 py-3"
						required
					/>
				</div>
				<button
					class="rounded-5 ml-auto whitespace-nowrap bg-orange-600 px-5 py-3 font-bold text-white shadow-lg transition hover:bg-orange-700 hover:shadow-none"
				>
					Submit
				</button>
			</form>
		</section>
	</footer>
</Container>
