---
import { Image, Picture } from '@astrojs/image/components'
import projects from '@data/projects'
---

{
  projects.map(({ repo_url, name, tech, description, points, url, image }) => (
    <div class="item">
      <div class="content_container">
        <h3 class="title">{name}</h3>
        <ul class="links">
          <li>
            <a
              class="link text-blue-600 hover:text-blue-700 visited:text-purple-600 hover:visited:text-purple-700 transition-colors hover:decoration-solid decoration-dashed"
              href={url}
            >
              visit:
              <svg width="1em" height="1em" viewBox="0 0 24 24">
                <path
                  fill="currentColor"
                  d="m21 12l-7-7v4C7 10 4 15 3 20c2.5-3.5 6-5.1 11-5.1V19l7-7Z"
                />
              </svg>
            </a>
          </li>
          {repo_url && (
            <li>
              <a
                class="link text-blue-600 decoration-dashed transition-colors visited:text-purple-600 hover:text-blue-700 hover:decoration-solid hover:visited:text-purple-700"
                href={repo_url}
              >
                repo:{' '}
                <svg width="1em" height="1em" viewBox="0 0 24 24">
                  <path
                    fill="currentColor"
                    d="m14.6 16.6l4.6-4.6l-4.6-4.6L16 6l6 6l-6 6l-1.4-1.4m-5.2 0L4.8 12l4.6-4.6L8 6l-6 6l6 6l1.4-1.4Z"
                  />
                </svg>
              </a>
            </li>
          )}
        </ul>
        <h4 class="tech">({tech.join(', ')})</h4>
        <p class="content">{description}</p>
        <ul class="points text-gray-600 flex flex-col gap-2 border-2 border-gray-300 p-5 rounded-lg">
          {points.map((point) => (
            <li class="grid grid-cols-[auto_1fr] gap-1">
              <svg
                class="text-green-600 text-xl"
                width="1em"
                height="1em"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M21 7L9 19l-5.5-5.5l1.41-1.41L9 16.17L19.59 5.59L21 7Z"
                />
              </svg>
              {point}
            </li>
          ))}
        </ul>
      </div>
      <Picture
        class="image"
        src={`/assets/images/${image}`}
        alt={name}
        widths={[200, 400, 800]}
        sizes="(max-width: 800px) 100vw, 800px"
        aspectRatio="1:1"
      />
    </div>
  ))
}
<div class="flex justify-center">
  <a class="btn btn-ghost-blue-900" href="https://github.com/vanillacode314"
    >See More Projects</a
  >
</div>

<style lang="postcss">
  .item {
    display: grid;
    margin-block: var(--larger-gap);
    gap: var(--larger-gap);

    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'content image';
    &:nth-child(even) {
      grid-template-areas: 'image content';
    }

    @media (--md-n-below) {
      grid-template-columns: 1fr;
      grid-template-areas:
        'image'
        'content';
      &:nth-child(even) {
        grid-template-areas:
          'image'
          'content';
      }
    }
  }
  .content_container {
    .title {
      font-family: var(--headline-family);
      font-size: var(--h3-text);
    }
    grid-area: content;
    display: grid;
    align-content: start;
    gap: var(--small-gap);
    .title {
      /* font-weight: bold; */
      @media (--md-n-below) {
        text-align: center;
      }
    }
    .links {
      display: flex;
      gap: var(--gap);
      font-size: 16px;
      @media (--md-n-below) {
        justify-content: center;
      }
      .link {
        display: flex;
        align-items: center;
        gap: var(--small-gap);
      }
    }
    .tech {
      color: #838383;
      @media (--md-n-below) {
        text-align: center;
      }
    }
    .content {
      line-height: var(--font-lineheight-1);
      margin-block: var(--gap);
      text-align: justify;
      font-size: var(--body-text);
    }

    .points {
      line-height: var(--font-lineheight-1);
      list-style-type: none;
      list-style-position: inside;
      text-align: justify;
      font-size: calc(var(--body-text) * 0.9);
    }
  }
  .image {
    grid-area: image;
    margin-inline: auto;
    align-self: center;
  }
</style>
