---
import type { ImageMetadata } from 'astro'
import projects from '@/data/projects'

import { Image } from 'astro:assets'
const images = import.meta.glob<{ default: ImageMetadata }>(
	'../assets/images/**/*.{webp,png,jpg,svg}'
)
---

<div class="flex flex-col gap-1">
	<h2 class="mx-auto uppercase text-xl text-gray-700 font-semibold my-10">Some of my work</h2>
	<section
		aria-label="projects"
		id="projects"
		class="text-gray-900 grid grid-cols-[repeat(auto-fill,minmax(20rem,1fr))] gap-5 lg:gap-10"
	>
		{
			projects.map(({ url, name, tech, image, points, repo_url, description }) => (
				<article
					class="flex flex-col border-2 border-gray-200 rounded-10 text-gray-900 shadow-lg overflow-hidden"
					style="box-shadow: #d1d5db 0px 5px"
				>
					<Image
						src={images[`../assets/images/${image}`]!()}
						class="w-full object-cover aspect-video"
						loading="lazy"
						alt={name}
					/>
					<div class="grow p-10 flex flex-col gap-5">
						<h3 class="text-2xl font-black">{name}</h3>
						<p>{description}</p>
						<span class="grow" />
						<div class="flex flex-wrap gap-5 mt-3 justify-end">
							<a
								data-umami-event="view-project"
								data-umami-event-name={name}
								data-umami-event-url={url}
								href={url}
								target="_blank"
								class="text-xs text-gray-600 hover:text-gray-500 hover:underline uppercase font-semibold inline-flex gap-1 items-center"
							>
								<span class="i-mdi-web text-xl" />
								<span>View</span>
							</a>
						</div>
					</div>
				</article>
			))
		}
	</section>
	<a
		href="https://github.com/vanillacode314"
		data-umami-event="view-all-projects"
		target="_blank"
		class="mx-auto mt-10 text-gray-600 hover:underline font-bold uppercase tracking-wide border px-5 py-3 border-gray-300 rounded-10"
	>
		<span>View all projects</span>
	</a>
</div>
<script>
	import { trackScroll } from '@/utils/umami'
	trackScroll('projects')
</script>
