---
import { Image, Picture } from '@astrojs/image/components'
import Section from '@components/Section.svelte'
import projects from '@data/projects'
---

<Section title="some projects i have worked on" id="projects">
  {
    projects.map(
      ({ repo_url, name, tech, description, points, url, image }) => (
        <div class="item">
          <div class="content_container">
            <h3 class="title">{name}</h3>
            <ul class="links">
              <li>
                <a class="link" href={url}>
                  visit:
                  <svg width="1em" height="1em" viewBox="0 0 24 24">
                    <path
                      fill="currentColor"
                      d="m21 12l-7-7v4C7 10 4 15 3 20c2.5-3.5 6-5.1 11-5.1V19l7-7Z"
                    />
                  </svg>
                </a>
              </li>
              <li>
                <a class="link" href={repo_url}>
                  repo:{' '}
                  <svg width="1em" height="1em" viewBox="0 0 24 24">
                    <path
                      fill="currentColor"
                      d="m14.6 16.6l4.6-4.6l-4.6-4.6L16 6l6 6l-6 6l-1.4-1.4m-5.2 0L4.8 12l4.6-4.6L8 6l-6 6l6 6l1.4-1.4Z"
                    />
                  </svg>
                </a>
              </li>
            </ul>
            <h4 class="tech">({tech.join(', ')})</h4>
            <p class="content">{description}</p>
            <ul class="points">
              {points.map((point) => (
                <li>{point}</li>
              ))}
            </ul>
          </div>
          <Picture
            class="image"
            src={`/assets/images/${image}`}
            alt={name}
            widths={[480, 768]}
            sizes="(max-width: 480px) 480px, (max-width: 768px) 768px"
            aspectRatio="1:1"
          />
        </div>
      )
    )
  }
</Section>

<style lang="postcss">
  .item {
    display: grid;
    margin-block: var(--larger-gap);
    gap: var(--larger-gap);

    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'content image';
    &:nth-child(even) {
      grid-template-areas: 'image content';
    }

    @media (--md-n-below) {
      grid-template-columns: 1fr;
      grid-template-areas:
        'image'
        'content';
      &:nth-child(even) {
        grid-template-areas:
          'image'
          'content';
      }
    }
  }
  .content_container {
    .title {
      font-family: var(--headline-family);
      font-size: var(--h3-text);
    }
    grid-area: content;
    display: grid;
    align-content: start;
    gap: var(--smaller-gap);
    .title {
      /* font-weight: bold; */
      @media (--md-n-below) {
        text-align: center;
      }
    }
    .links {
      display: flex;
      gap: var(--gap);
      font-size: 16px;
      @media (--md-n-below) {
        font-size: 14px;
        justify-content: center;
      }
      .link {
        text-decoration: none;
        border-bottom: 1px dotted;
        display: flex;
        align-items: center;
        gap: var(--small-gap);
      }
    }
    .tech {
      font-size: 14px;
      color: #838383;
      @media (--md-n-below) {
        text-align: center;
      }
    }
    .content {
      line-height: var(--font-lineheight-1);
      margin-top: var(--gap);
      text-align: justify;
      font-size: var(--body-text);
    }
    .points {
      line-height: var(--font-lineheight-1);
      list-style-type: '☑ ';
      list-style-position: inside;
      text-align: justify;
      font-size: var(--body-text);
    }
  }
  .image {
    grid-area: image;
    width: var(--size-fluid-10);
    margin-inline: auto;
    align-self: center;
  }
</style>
